<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.local.web.like.mapper.LikeMapper">
	
	<select id="getLikeCnt" resultType="int" parameterType="hashMap">
		SELECT
			COUNT(IFNULL(LIKE_IDX, 0))
		FROM TB_LIKE
		WHERE 1=1
		AND USER_IDX = #{user_idx}
		AND BOARD_ID = #{board_id}
	</select>
	
	<select id="getLikeTp" parameterType="hashMap" resultType="hashMap">
		SELECT
			LIKE_TP AS like_tp
		FROM TB_LIKE
		WHERE 1=1
		AND USER_IDX = #{user_idx}
		AND BOARD_ID = #{board_id}
	</select>
	
	<select id="getLikeListRetrieve" resultType="hashMap">
		SELECT
			  LIKE_IDX AS likd_idx
			, USER_IDX AS user_idx
			, BOARD_ID AS board_id
			, LIKE_TP AS like_tp
		FROM TB_LIKE
		WHERE 1=1
		AND USER_IDX = #{user_idx}
		ORDER BY BOARD_ID DESC
	</select>
	
	<update id="updateInitLike" parameterType="hashMap">
		INSERT INTO
		TB_LIKE(LIKE_TP, LIKE_ID, USER_IDX, BOARD_ID)
		VALUES(
		          #{like_tp}
		        , #{user_idx}  
		        , #{user_idx}  
		        , #{board_id}  
			)
	</update>
	
	<update id="updateLike" parameterType="hashMap">
		UPDATE 
			TB_LIKE 
		SET
		 	  LIKE_TP = #{like_tp}
		WHERE 1=1
		AND BOARD_ID = #{board_id}	
		AND USER_IDX = #{user_idx}	
	</update>
	
</mapper>