<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.local.web.like.mapper.LikeMapper">
	
	<select id="getLikeCnt" parameterType="hashMap" resultType="int">
		SELECT
			COUNT(1)
		FROM TB_LIKE
		WHERE 1=1 
			AND USER_IDX = #{user_idx}
			AND BOARD_ID = #{board_id}
	</select>
	
	<insert id="insertLike" parameterType="hashMap">
		INSERT INTO
			TB_LIKE(LIKE_ID, USER_IDX, BOARD_ID)
		VALUES(
		          #{user_idx}  
		        , #{user_idx}  
		        , (SELECT IFNULL(MAX(BOARD_ID), 1) FROM TB_BOARD)  
			   )
	</insert>
	
	<update id="updateLikeTp" parameterType="hashMap">
		/* LikeMapper.updateLikeTp */
		UPDATE 
			TB_LIKE 
		SET
	 	    LIKE_TP = CASE WHEN #{like_tp} = 'N' 
	 	    			   THEN 'Y'
	 	    			   ELSE 'N'
	    			  END
		WHERE 1=1
		AND BOARD_ID = #{board_id}	
		AND USER_IDX = #{user_idx}	
	</update>
	
	<delete id="deleteLike" parameterType="hashMap">
		/* LikedMapper.deleteItemLike */
		DELETE FROM TB_LIKE
		WHERE 1=1
			AND USER_IDX = #{user_idx}
			AND BOARD_ID = #{board_id}
	</delete>
	
</mapper>