<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.local.web.board.mapper.BoardMapper">
	<select id="getQueryTotalCnt" resultType="int">
		SELECT FOUND_ROWS()
	</select>

	<select id="selectAllBoard" resultType="hashMap" parameterType="hashMap">
	/* BoardMapper.selectAllBoard */
		SELECT
			   SQL_CALC_FOUND_ROWS

			   IFNULL(TL.LIKE_TP, 'N') AS like_tp
	         , BOARD.*
		FROM (
				  SELECT
							  TBB.BOARD_ID AS board_id
							, TBB.B_SUBJECT AS b_subject
							, TBB.B_CONTENT AS b_content
							, TBB.USER_IDX AS user_idx
							, TBB.USER_NM AS user_nm
							, DATE_FORMAT(TBB.B_DATE, CONCAT('%Y-%m-%d', ' ', '%H:%i')) AS b_date
							, DATE_FORMAT(TBB.B_UPD_DATE, CONCAT('%Y-%m-%d', ' ', '%H:%i')) AS b_upd_date
				   FROM TB_BOARD TBB
					 ORDER BY TBB.B_DATE DESC
			   ) AS BOARD
		LEFT OUTER JOIN
		(SELECT BOARD_ID, LIKE_TP FROM TB_LIKE WHERE USER_IDX = #{user_idx}) TL
		ON
			BOARD.BOARD_ID = TL.BOARD_ID
   	    WHERE 1=1
 	    <if test="srch_user_board != null and srch_user_board != ''">
			<choose>
				<when test="srch_user_board.equals('srch_user_nm')">
					AND USER_NM LIKE CONCAT('%', #{srch_text} ,'%')		
				</when>
				<when test="srch_user_board.equals('srch_b_subject')">
					AND B_SUBJECT LIKE CONCAT('%', #{srch_text} ,'%')		
				</when>
				<when test="srch_user_board.equals('srch_b_content')">
					AND B_CONTENT LIKE CONCAT('%', #{srch_text}, '%')
				</when>
			</choose>
		</if>
		ORDER BY BOARD.BOARD_ID DESC
   	    LIMIT ${start}, ${end}
	</select>
	
	<select id="selectMyBoard" parameterType="hashMap" resultType="hashMap">
	/* BoardMapper.selectMyBoard */
		SELECT SQL_CALC_FOUND_ROWS 
			   BOARD.*
		FROM 
			   (SELECT
			   			  BOARD_ID AS board_id
			   			, B_SUBJECT AS b_subject
			   			, B_CONTENT AS b_content
			   			, DATE_FORMAT(B_DATE, CONCAT('%Y-%m-%d', ' ', '%H:%i')) AS b_date
			   			, DATE_FORMAT(B_UPD_DATE, CONCAT('%Y-%m-%d', ' ', '%H:%i')) AS b_upd_date
			   			, USER_IDX AS user_idx
			   			, USER_NM AS user_nm
			   FROM TB_BOARD
			   WHERE USER_IDX = #{user_idx}
			   ORDER BY B_DATE DESC) AS BOARD
   	    WHERE 1=1
 	    <if test="srch_user_board != null and srch_user_board != ''">
			<choose>
				<when test="srch_user_board.equals('srch_user_nm')">
					AND USER_NM LIKE CONCAT('%', #{srch_text} ,'%')		
				</when>
				<when test="srch_user_board.equals('srch_b_subject')">
					AND B_SUBJECT LIKE CONCAT('%', #{srch_text} ,'%')		
				</when>
				<when test="srch_user_board.equals('srch_b_content')">
					AND B_CONTENT LIKE CONCAT('%', #{srch_text}, '%')
				</when>
			</choose>
		</if>		
		LIMIT ${start}, ${end}	   
	</select>

	<insert id="createItem" parameterType="hashMap">
	/* BoardMapper.createItem */
		INSERT INTO
		TB_BOARD(B_SUBJECT, B_CONTENT, USER_IDX, USER_NM, B_DATE, LIKE_IDX)
		VALUES(
				  #{b_subject}
				, #{b_content}
				, #{user_idx}
				, #{user_nm}
				, NOW()
				, (SELECT IFNULL(MAX(B.BOARD_ID), 0) + 1 FROM TB_BOARD B)
			  ) 
	</insert>
	
	<update id="updateItem" parameterType="hashMap">
	/* BoardMapper.updateItem */
		UPDATE TB_BOARD
		SET
		<if test="b_subject != null and b_subject != ''">
			  B_SUBJECT = #{b_subject}		
		</if>
		<if test="b_content != null and b_content != ''">
			, B_CONTENT = #{b_content}
		</if>
			, B_UPD_DATE = NOW()
		WHERE
		BOARD_ID = #{board_id}
	</update>
	
	<delete id="deleteItem" parameterType="hashMap">
	/* BoardMapper.deleteItem */
		DELETE FROM TB_BOARD
		WHERE BOARD_ID = #{board_id}
	</delete>
	
</mapper>